* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 20px;
  z-index: 3;
  position: relative;

  background-color: #8c52ff;
}

.logo {
  width: 100px;
}

.logo img {
  width: 100%;
}

.titulo {
  text-align: center;
  color: #02dffc;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  margin: 30px;
  z-index: 3;
}

.selecao {
  display: flex;
  justify-content: center;
  width: 100%;
}

.selecao ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0px;
  margin: 10px;
}

.selecao ul li a {
  text-decoration: none;
  color: #fad400;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .cabecalho {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    margin-bottom: 10px;
  }

  .titulo {
    margin-bottom: 10px;
  }

  .selecao ul {
    flex-direction: column;
    gap: 10px;
  }
}

body {
  background-image: url(img/fundo\ musical\ roxo.jpg);

  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;

  line-height: 1.5;
}
.conteiner-principal {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  font-size: 18px;
  width: 100%;
}

.lead p {
  color: #410a8a;
  margin: 0 0 18px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-top: 18px;
}
.item {
  padding: 16px;
  border-radius: 10px;
  background: linear-gradient(180deg, #5ad1f5, #a981f8);
  border: 1px solid rgba(107, 33, 168, 0.06);
}
.item h3 {
  margin: 0 0 10px;
  color: #6b21a8;
  font-size: 18px;
}
.item p {
  text-align: start;
  margin: 0;
  color: #000000;
  line-height: 1.45;
}
@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.imagens {
  display: grid;
  position: relative;
  justify-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  bottom: -10rem;
  gap: 30px;

  grid-template-rows: 300px 200px;
  width: 40%;

  border-radius: 10px;
}

.card0 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 920px;
  margin: 100px auto;
  padding: 22px;
  background: #ecd7f5;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(7, 21, 80, 0.06);
}

.card1 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-canto {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card1:hover img {
  transform: scale(1.05);
}

.card1:hover .info-canto {
  opacity: 1;
}

.card2 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-teoria {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card2:hover img {
  transform: scale(1.05);
}

.card2:hover .info-teoria {
  opacity: 1;
}

.card3 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-guitarra {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card3:hover img {
  transform: scale(1.05);
}

.card3:hover .info-guitarra {
  opacity: 1;
}

.card4 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-violão {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card4:hover img {
  transform: scale(1.05);
}

.card4:hover .info-violão {
  opacity: 1;
}

.card5 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-baixo {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card5:hover img {
  transform: scale(1.05);
}

.card5:hover .info-baixo {
  opacity: 1;
}

.card6 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-teclado {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card6:hover img {
  transform: scale(1.05);
}

.card6:hover .info-teclado {
  opacity: 1;
}

.card7 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-bateria {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card7:hover img {
  transform: scale(1.05);
}

.card7:hover .info-bateria {
  opacity: 1;
}

.card8 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-violino {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card8:hover img {
  transform: scale(1.05);
}

.card8:hover .info-violino {
  opacity: 1;
}

.card9 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-orquestra {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card9:hover img {
  transform: scale(1.05);
}

.card9:hover .info-orquestra {
  opacity: 1;
}

.card10 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-coral-cidadao {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card10:hover img {
  transform: scale(1.05);
}

.card10:hover .info-coral-cidadao {
  opacity: 1;
}

.card11 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-musica-escolas {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card11:hover img {
  transform: scale(1.05);
}

.card11:hover .info-musica-escolas {
  opacity: 1;
}

@media (max-width: 1200px) {
  .imagens {
    grid-template-columns: repeat(2, 1fr);

    margin-left: -200px;
  }
}
@media (max-width: 900px) {
  .imagens {
    grid-template-columns: repeat(2, 1fr);

    margin-left: -300px;
  }
}
@media (max-width: 600px) {
  .imagens {
    grid-template-columns: 1fr;

    margin-left: -150px;
  }
}

@media (max-widht: 600px) {
  .selecao {
    grid-template-columns: 1fr;
  }
}

.Lista-projetos ul li {
  text-decoration: none;
  list-style: none;
  color: #8c52ff;
}

.imagens-projetos {
  display: grid;
  position: relative;
  justify-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  bottom: -10rem;
  gap: 20px;
  margin: 30px;
  grid-template-rows: 300px 200px;
  width: 60%;

  margin-left: 20px;

  border-radius: 10px;
}

.enunciado {
  color: #02dffc;

  width: 70%;
  max-width: 300px;

  margin: 30px auto;
  text-align: center;
  font-size: 1.25rem;
}

.cadastro-informacoes-pessoais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #02dffc;
  backdrop-filter: blur(50px);
  border-radius: 15px;
  padding: 40px 90px;
  border: 2px solid #fad400;
}

.cadastro-informacoes-pessoais input {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  padding: 8px 10px;
  color: #8c52ff;
  margin-bottom: 15px;
  border: 1px solid #02dffc;
}

.cadastro-informacoes-pessoais input::placeholder {
  color: #8c52ff;
}

.cadastro-informacoes-pessoais legend {
  font-size: 1.2rem;
  margin-bottom: 20px;

  color: #02dffc;
}

.cadastro-informacoes-pessoais label {
  font-size: 1.2rem;
  margin-bottom: 20px;

  color: aqua;
}

.button-enviar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-enviar button {
  width: 100px;
  height: 40px;
  background-color: #02dffc;
  border-radius: 10px;
  color: #8c52ff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .enunciado {
    font-size: 1rem;
    margin-top: 10px;
  }

  .cadastro-informacoes-pessoais {
    width: 90%;
    padding: 30px 20px;
  }

  .cadastro-informacoes-pessoais input {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .enunciado {
    font-size: 0.9rem;
  }

  .cadastro-informacoes-pessoais {
    padding: 20px 10px;
  }

  .button-enviar button {
    width: 80px;
    font-size: 0.9rem;
  }
}

.card9 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-orquestra {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card9:hover img {
  transform: scale(1.05);
}

.card9:hover .info-orquestra {
  opacity: 1;
}

.card10 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-coral-cidadao {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card10:hover img {
  transform: scale(1.05);
}

.card10:hover .info-coral-cidadao {
  opacity: 1;
}

.card11 {
  transition: all 0.5s ease-in-out;
  inset: 0;
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
}

.info-musica-escolas {
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  position: 0;
  background-color: #a981f8;
  text-align: center;
}

.card11:hover img {
  transform: scale(1.05);
}

.card11:hover .info-musica-escolas {
  opacity: 1;
}

@media (max-width: 1200px) {
  .imagens-projetos {
    grid-template-columns: repeat(3, 1fr);
    margin-left: -200px;
  }
}
@media (max-width: 900px) {
  .imagens-projetos {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0px;
  }
}
@media (max-width: 600px) {
  .imagens-projetos {
    grid-template-columns: 1fr;
    margin-left: -40px;
  }
}

footer {
  color: #02dffc;
}

footer p {
  display: flex;
  position: relative;

  width: 100vw;
  top: 200px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 600px) {
  footer p {
    text-align: center;
    padding: 0 auto;
  }
}

#mensagem {
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  display: none;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#mensagem.erro {
  background-color: rgba(255, 0, 0, 0.1);
  color: #ff4d4d;
  border: 1px solid #ff4d4d;
}

#mensagem.sucesso {
  background-color: rgba(0, 255, 100, 0.1);
  color: #00c16a;
  border: 1px solid #00c16a;
}
